.repos-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-title {
    font-size: 2.6rem;
    line-height: 2.8rem;
    font-weight: bold;
  }

  &-content {
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 1.8rem;

    &-description {

    }

    &-language {

    }
  }
}
